@charset "UTF-8";
/*---BASE---*/
/*-----FONTS-----*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'LatoLight';
  src: url("../fonts/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'LatoRegular';
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'AsapRegular';
  src: url("../fonts/Asap-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'AsapBold';
  src: url("../fonts/Asap-Bold.ttf") format("truetype"); }

/*-----MODULES-----*/
.toTop {
  position: fixed;
  right: 30px;
  bottom: 195px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  outline: none; }

.toTop:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 17px;
  width: 10px;
  height: 1px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #212121; }

.toTop:after {
  content: "";
  position: absolute;
  top: 25px;
  right: 16px;
  width: 10px;
  height: 1px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #212121; }

.header {
  position: fixed;
  /*фиксированное меню*/
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  /*отступы у главной секции по 15 пикселей со всех сторон*/
  background-color: transparent;
  /*делаем фон прозрачным на главной странице*/
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  /*переход в 0.3 секунды*/
  z-index: 9999;
  /*наивысший для меню*/ }

.header.sticky {
  background-color: #fff;
  /*спроить*/ }

.header .wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header .wrapper .wrapLogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3; }

.header .wrapper .wrapLogo .logo {
  width: 25px; }

.header .wrapper .wrapLogo .titleMain {
  font-family: LatoLight;
  font-size: 14px; }

.header .wrapper .wrapLogo .title {
  font-family: LatoRegular;
  font-size: 4px; }

.header .wrapper .wrapLink {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.header .wrapper .wrapLink .linkBlock {
  margin-right: 30px; }

.header .wrapper .wrapLink .linkBlock:last-child {
  margin-right: 0; }

.header .wrapper .wrapLink .linkBlock .link {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  color: #1d1d1d;
  font-family: 'AsapRegular';
  font-size: 18px;
  text-transform: capitalize;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  position: relative; }

.header .wrapper .wrapLink .linkBlock .link:before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.header .wrapper .wrapLink .linkBlock .link:after {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.header .wrapper .wrapLink .linkBlock .link:hover:before {
  width: 50%;
  background-color: black; }

.header .wrapper .wrapLink .linkBlock .link:hover:after {
  width: 50%;
  background-color: black; }

.firstSection {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 115vh;
  padding: 0 15px; }

.firstSection .wrapSection {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.firstSection .wrapSection .wrapContainer {
  width: 100%;
  max-width: 685px; }

.firstSection .wrapSection .wrapContainer .wrapInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.firstSection .wrapSection .wrapContainer .wrapInfo .title {
  text-align: center;
  font-size: 70px;
  color: #4d4d4d;
  font-family: 'AsapBold'; }

.firstSection .wrapSection .wrapContainer .wrapInfo .text {
  color: #a4a4a4;
  font-size: 16px;
  margin-top: 25px;
  font-family: 'AsapBold'; }

.firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn {
  margin-top: 30px; }

.firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn .btns {
  display: inline-block;
  width: 160px;
  padding: 20px 0;
  margin-right: 20px;
  background-color: white;
  text-transform: uppercase;
  font-family: 'AsapBold';
  font-size: 16px;
  color: #4d4d4d;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn .btns:hover {
  background-color: transparent;
  border: 1px solid #4d4d4d; }

.firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn .btns:last-child {
  margin-right: 0;
  background-color: transparent;
  border: 1px solid #4d4d4d; }

.firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn .btns:last-child:hover {
  background-color: white;
  border: none; }

.firstSection .wrapSection .wrapImages {
  width: 100%;
  max-width: 683px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

@media (max-width: 667px) {
  .firstSection {
    background-position: -290px 0; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .title {
    font-size: 55px; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .text {
    font-size: 16px;
    margin-top: 25px; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn {
    margin-top: 30px; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn .btns {
    width: 160px;
    padding: 20px 0;
    margin-right: 20px;
    font-size: 16px; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn .btns:last-child {
    margin-right: 0; } }

@media (max-width: 480px) {
  .firstSection {
    background-position: -502px 0; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .title {
    font-size: 51px; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .text {
    font-size: 16px;
    margin-top: 25px; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn {
    margin-top: 30px; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn .btns {
    width: 120px;
    padding: 10px 0;
    margin-right: 15px;
    font-size: 14px; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn .btns:last-child {
    margin-right: 0; } }

@media (max-width: 414px) {
  .firstSection {
    background-position: -605px 0; }
  .firstSection .wrapSection .wrapContainer .wrapInfo {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .title {
    font-size: 40px;
    text-shadow: 0 0 3px white; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .text {
    font-size: 15px;
    margin-top: 15px;
    color: white;
    text-shadow: 0 0 3px black; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn .btns {
    display: inline-block;
    width: 100px;
    padding: 10px 0;
    background-color: white;
    text-transform: uppercase;
    font-family: 'AsapBold';
    font-size: 12px;
    color: #4d4d4d;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn .btns:last-child {
    margin-right: 0;
    background-color: white;
    border: 1px solid transparent; }
  .firstSection .wrapSection .wrapContainer .wrapInfo .wrapBtn .btns:last-child:hover {
    background-color: transparent;
    border: 1px solid #4d4d4d; } }

.aboutSection {
  padding: 125px 15px; }

.aboutSection .wrapAbout {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.aboutSection .wrapAbout .itemAbout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%; }

.aboutSection .wrapAbout .itemAbout .wrapInfo {
  margin-top: 95px; }

.aboutSection .wrapAbout .itemAbout .wrapInfo .title {
  margin-top: 20px;
  font-family: AsapBold;
  color: #717171;
  font-size: 46px;
  width: 100%;
  max-width: 310px;
  text-transform: uppercase;
  margin-top: 0;
  position: relative; }

.aboutSection .wrapAbout .itemAbout .wrapInfo .title:before {
  position: absolute;
  content: '';
  top: -20px;
  left: 0;
  width: 65px;
  height: 5px;
  background-color: #717171; }

.aboutSection .wrapAbout .itemAbout .wrapInfo .text {
  margin-top: 15px;
  width: 100%;
  max-width: 470px;
  font-family: AsapRegular;
  color: #717171;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px; }

.aboutSection .wrapAbout .itemAbout .wrapInfo .btn {
  width: 100%;
  max-width: 250px;
  padding: 15px 0;
  border: 1px solid #4d4d4d;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'AsapBold';
  color: #717171;
  font-size: 16px; }

.aboutSection .wrapAbout .itemAbout .wrapInfo .btn:hover {
  background-color: white;
  border: 1px solid transparent; }

.services {
  background-color: #f6f6f6;
  padding: 125px 15px; }

.services .wrapSection {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px; }

.services .wrapSection .wrapTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.services .wrapSection .wrapTitle .title {
  display: inline-block;
  font-family: AsapBold;
  font-size: 46px;
  text-transform: uppercase;
  color: #787878;
  position: relative;
  z-index: 1; }

.services .wrapSection .wrapTitle .title:before {
  position: absolute;
  content: '';
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 65px;
  height: 5px;
  background-color: #717171; }

.services .wrapSection .wrapContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.services .wrapSection .wrapContainer .itemContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.services .wrapSection .wrapContainer .itemContainer .item {
  width: 350px;
  /*поменять*/
  text-align: center;
  margin-top: 70px; }

.services .wrapSection .wrapContainer .itemContainer .item .titleImages {
  margin-top: 15px;
  font-family: AsapRegular;
  color: #4d4d4d;
  font-size: 24px; }

.skills {
  padding: 125px 15px; }

.skills .wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.skills .wrapper .center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.skills .wrapper .center .title {
  display: inline-block;
  font-family: AsapBold;
  font-size: 46px;
  text-transform: uppercase;
  color: #787878;
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }

.skills .wrapper .center .title:before {
  position: absolute;
  content: '';
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 65px;
  height: 5px;
  background-color: #717171; }

.skills .wrapper .center .wrapBar {
  width: 620px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.portfolio {
  background-color: #f6f6f6;
  padding: 125px 15px; }

.portfolio .wrapPortfolio {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.portfolio .wrapPortfolio .title {
  font-family: AsapBold;
  font-size: 46px;
  text-transform: uppercase;
  color: #787878;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 45px; }

.portfolio .wrapPortfolio .title:before {
  position: absolute;
  content: '';
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 65px;
  height: 5px;
  background-color: #717171; }

.portfolio .wrapPortfolio .wrapRow {
  margin-bottom: 30px; }

.portfolio .wrapPortfolio .wrapRow .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 30px; }

.portfolio .wrapPortfolio .wrapRow .row:last-child {
  margin-bottom: 0; }

.portfolio .wrapPortfolio .wrapRow .row .item {
  width: 100%;
  max-width: 370px;
  margin-right: 30px; }

.portfolio .wrapPortfolio .wrapRow .row .item:last-child {
  margin-right: 0; }

.portfolio .wrapPortfolio .wrapRow .row .item:hover {
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.15); }

.portfolio .wrapPortfolio .wrapBtn {
  width: 100%;
  text-align: center; }

.portfolio .wrapPortfolio .wrapBtn .btn {
  width: 250px;
  padding: 15px 0;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'AsapBold';
  color: #717171;
  font-size: 16px; }

.portfolio .wrapPortfolio .wrapBtn .btn:hover {
  background-color: white;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); }

.testimonial {
  padding: 130px 110px; }

.testimonial .wrapTestimonial {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.testimonial .wrapTestimonial .title {
  font-family: AsapBold;
  font-size: 46px;
  text-transform: uppercase;
  color: #787878;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 45px; }

.testimonial .wrapTestimonial .title:before {
  position: absolute;
  content: '';
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 65px;
  height: 5px;
  background-color: #717171; }

.testimonial .wrapTestimonial .slickContainer {
  border: 1px solid black;
  z-index: 9998; }

.testimonial .wrapTestimonial .slickContainer div .reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 60px 55px 120px; }

.testimonial .wrapTestimonial .slickContainer div .reviews .textBlock {
  line-height: 1.5;
  margin-left: 30px;
  text-transform: uppercase; }

.testimonial .wrapTestimonial .slickContainer div .reviews .textBlock .name {
  font-family: AsapBold;
  font-size: 30px; }

.testimonial .wrapTestimonial .slickContainer div .reviews .textBlock .position {
  font-family: Asap;
  font-size: 12px;
  margin-top: 10px; }

.testimonial .wrapTestimonial .slickContainer div .reviews .textBlock .text {
  font-family: AsapRegular;
  color: #7a7a7a;
  font-size: 16px;
  margin-top: 20px; }

.funfact {
  background-color: #f6f6f6;
  padding: 0 15px;
  margin-bottom: 155px; }

.funfact .wrapFunfact {
  width: 100%;
  max-width: 1366px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.funfact .wrapFunfact .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0;
  width: 200px;
  text-align: center; }

.funfact .wrapFunfact .item .wrapImages {
  width: 100px; }

.funfact .wrapFunfact .item .number {
  margin-top: 30px;
  font-family: AsapBold;
  font-size: 30px; }

.funfact .wrapFunfact .item .title {
  margin-top: 15px;
  font-family: AsapRegular;
  font-size: 22px;
  text-transform: uppercase; }

.contactSection {
  padding: 145px 15px;
  background-position: 0 0;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.contactSection .wrapFooter {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.contactSection .wrapFooter .title {
  font-family: AsapBold;
  font-size: 46px;
  text-transform: uppercase;
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 70px;
  position: relative;
  z-index: 1; }

.contactSection .wrapFooter .title:before {
  position: absolute;
  content: '';
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 65px;
  height: 5px;
  background-color: #c1c1c1; }

.contactSection .wrapFooter .containerForm {
  width: 100%;
  max-width: 775px;
  margin: 0 auto; }

.contactSection .wrapFooter .containerForm .rowForm {
  width: 100%;
  max-width: 770px;
  margin: 0 auto; }

.contactSection .wrapFooter .containerForm .rowForm .form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.contactSection .wrapFooter .containerForm .rowForm .form .part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px; }

.contactSection .wrapFooter .containerForm .rowForm .form .part:first-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.contactSection .wrapFooter .containerForm .rowForm .form .part:first-child .input {
  width: 770px;
  margin-bottom: 0; }

.contactSection .wrapFooter .containerForm .rowForm .form .part:first-child .input:first-child {
  margin-right: 20px; }

.contactSection .wrapFooter .containerForm .rowForm .form .part .input {
  width: 100%;
  border: none;
  outline: none;
  background-color: white;
  font-family: AsapRegular;
  font-size: 16px;
  color: #4d4d4d;
  padding: 8px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.contactSection .wrapFooter .containerForm .rowForm .form .part .textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: white;
  height: 210px;
  font-family: AsapRegular;
  font-size: 16px;
  color: #4d4d4d;
  padding: 8px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.contactSection .wrapFooter .containerForm .rowForm .form .btnSubmit {
  width: 130px;
  height: 50px;
  font-family: AsapBold;
  font-size: 16px;
  color: #4d4d4d;
  text-transform: uppercase;
  line-height: 50px;
  background-color: white;
  border: none;
  outline: none;
  margin: 0 auto;
  padding: 0; }

.contactSection .wrapFooter .containerForm .rowForm .form .btnSubmit img {
  margin-left: 5px;
  margin-bottom: -2px; }

.slick-prev {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -75px;
  bottom: 62px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  outline: none;
  border: 0 solid transparent; }

.slick-prev:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 20px;
  width: 10px;
  height: 1px;
  background-color: white;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.slick-prev:after {
  content: '';
  position: absolute;
  bottom: 11px;
  left: 20px;
  width: 10px;
  height: 1px;
  background-color: white;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.slick-next {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -150px;
  bottom: 62px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  outline: none;
  border: 0 solid transparent; }

.slick-next:before {
  content: '';
  position: absolute;
  bottom: 11px;
  left: 20px;
  width: 10px;
  height: 1px;
  background-color: white;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.slick-next:after {
  content: '';
  position: absolute;
  top: 11px;
  left: 20px;
  width: 10px;
  height: 1px;
  background-color: white;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: 25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li:hover {
  background-color: black; }

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 13px;
  width: 13px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer; }

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 13px;
  height: 13px;
  border: 1px solid #000;
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  opacity: .5; }

.slick-dots li.slick-active button:before {
  color: red;
  opacity: 1; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 35px 15px; }

.footer .footerSocial {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }

.footer .footerSocial:before {
  position: absolute;
  content: '';
  height: 1px;
  top: -35px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4); }

.footer .footerSocial .wrapSocial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.footer .footerSocial .wrapSocial .social {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 210px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer .footerSocial .wrapSocial .social .socialItem {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.footer .footerSocial .wrapSocial .social .socialItem:hover .socials .socialFill {
  fill: #0084b4; }

.footer .footerSocial .wrapSocial .social .socialItem .socials {
  width: 30px;
  height: 30px; }

.footer .footerSocial .wrapSocial .social .socialItem .socials .socialFill {
  fill: #4d4d4d; }

.footer .footerSocial .wrapSocial .social .images {
  margin-right: 10px; }

.footer .footerSocial .wrapSocial .social .images:last-child {
  margin-right: 0; }

.footer .footerSocial .wrapSocial .footerTitle {
  font-family: OpenSansRegular;
  font-size: 16px;
  color: #fff; }
