.aboutSection{
  padding: 125px 15px;
  .wrapAbout{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    .itemAbout{
      display: flex;
      flex-direction: column;
      width: 50%;
      .wrapInfo{
        margin-top: 95px;
        .title{
          margin-top: 20px;
          font-family: AsapBold;
          color: #717171;
          font-size: 46px;
          width: 100%;
          max-width: 310px;
          text-transform: uppercase;
          margin-top: 0;
          position: relative;
          &:before {
            position: absolute;
            content: '';
            top: -20px;
            left: 0;
            width: 65px;
            height: 5px;
            background-color: #717171;
          }
        }
        .text{
          margin-top: 15px;
          width: 100%;
          max-width: 470px;
          font-family: AsapRegular;
          color: #717171;
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 40px;
        }
        .btn{
          width: 100%;
          max-width: 250px;
          padding: 15px 0;
          border: 1px solid #4d4d4d;
          background-color: transparent;
          text-transform: uppercase;
          font-family: 'AsapBold';
          color: #717171;
          font-size: 16px;
          &:hover {
            background-color: white;
            border: 1px solid transparent;
          }
        }
      }
    }
  }
}