.contactSection {
  padding: 145px 15px;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  .wrapFooter {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-family: AsapBold;
      font-size: 46px;
      text-transform: uppercase;
      color: #f0f0f0;
      text-align: center;
      margin-bottom: 70px;
      position: relative;
      z-index: 1;
      &:before {
        position: absolute;
        content: '';
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 65px;
        height: 5px;
        background-color: #c1c1c1;
      }
    }
    .containerForm {
      width: 100%;
      max-width: 775px;
      margin: 0 auto;
      .rowForm {
        width: 100%;
        max-width: 770px;
        margin: 0 auto;
        //border: 1px solid red;
        .form {
          width: 100%;
          display: flex;
          flex-direction: column;
          .part {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-bottom: 20px;
            &:first-child {
              flex-direction: row;
              .input {
                width: 770px;
                margin-bottom: 0;
                //border: 2px solid green;
                &:first-child {
                  //border: 2px solid red;
                  margin-right: 20px;
                }
              }
            }
            .input {
              width: 100%;
              border: none;
              outline: none;
              background-color: white;
              font-family: AsapRegular;
              font-size: 16px;
              color: #4d4d4d; //не срабатывает
              padding: 8px 15px;
              box-sizing: border-box;
            }
            .textarea {
              width: 100%;
              border: none;
              outline: none;
              background-color: white;
              height: 210px;
              font-family: AsapRegular;
              font-size: 16px;
              color: #4d4d4d; //не срабатывает
              padding: 8px 15px;
              box-sizing: border-box;
            }
          }
          .btnSubmit {
            width: 130px;
            height: 50px;
            font-family: AsapBold;
            font-size: 16px;
            color: #4d4d4d;
            text-transform: uppercase;
            line-height: 50px;
            background-color: white;
            border: none;
            outline: none;
            margin: 0 auto;
            padding: 0;
            img {
              margin-left: 5px;
              margin-bottom: -2px;
            }
          }
        }
      }
    }
  }
}