.firstSection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 115vh;
  padding: 0 15px; //внутрение отступы ? вопрос
  .wrapSection {
    width: 100%;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .wrapContainer {
      width: 100%;
      max-width: 685px;
      .wrapInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .title {
          text-align: center;
          font-size: 70px;
          color: #4d4d4d;
          font-family: 'AsapBold';
        }
        .text {
          color: #a4a4a4;
          font-size: 16px;
          margin-top: 25px;
          font-family: 'AsapBold';
        }
        .wrapBtn {
          margin-top: 30px;
          .btns {
            display: inline-block;
            width: 160px;
            padding: 20px 0;
            margin-right: 20px;
            background-color: white;
            text-transform: uppercase;
            font-family: 'AsapBold';
            font-size: 16px;
            color: #4d4d4d;
            text-decoration: none;
            text-align: center;
            border: 1px solid transparent;
            transition: .4s;
            box-sizing: border-box;
            &:hover {
              background-color: transparent;
              border: 1px solid #4d4d4d;
            }
            &:last-child {
              margin-right: 0;
              background-color: transparent;
              border: 1px solid #4d4d4d;
              &:hover {
                background-color: white;
                border: none;
              }
            }
          }
        }
      }
    }
    .wrapImages {
      width: 100%;
      max-width: 683px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

    }
  }
}

@media (max-width: 667px) {
  .firstSection {
    background-position: -290px 0;
    .wrapSection {
      .wrapContainer {
        .wrapInfo {
          .title {
            font-size: 55px;
          }
          .text {
            font-size: 16px;
            margin-top: 25px;
          }
          .wrapBtn {
            margin-top: 30px;
            .btns {
              width: 160px;
              padding: 20px 0;
              margin-right: 20px;
              font-size: 16px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .firstSection {
    background-position: -502px 0;
    .wrapSection {
      .wrapContainer {
        .wrapInfo {
          .title {
            font-size: 51px;
          }
          .text {
            font-size: 16px;
            margin-top: 25px;
          }
          .wrapBtn {
            margin-top: 30px;
            .btns {
              width: 120px;
              padding: 10px 0;
              margin-right: 15px;
              font-size: 14px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .firstSection {
    background-position: -605px 0;
    .wrapSection {
      .wrapContainer {
        .wrapInfo {
          align-items: center;
          .title {
            font-size: 40px;
            text-shadow: 0 0 3px rgba(255,255,255,1);
          }
          .text {
            font-size: 15px;
            margin-top: 15px;
            color: white;
            text-shadow: 0 0 3px rgba(0,0,0,1);
          }
          .wrapBtn {
            display: flex;
            margin-top: 20px;
            .btns {
              display: inline-block;
              width: 100px;
              padding: 10px 0;
              background-color: white;
              text-transform: uppercase;
              font-family: 'AsapBold';
              font-size: 12px;
              color: #4d4d4d;
              text-decoration: none;
              text-align: center;
              border: 1px solid transparent;
              transition: .4s;
              box-sizing: border-box;
              &:last-child {
                margin-right: 0;
                background-color: white;
                border: 1px solid transparent;
                &:hover {
                  background-color: transparent;
                  border: 1px solid #4d4d4d;
                }
              }
            }
          }
        }
      }
    }
  }
}