/*-----FONTS-----*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'AsapRegular';
  src: url('../fonts/Asap-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'AsapBold';
  src: url('../fonts/Asap-Bold.ttf') format('truetype');
}