.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 35px 15px;
  .footerSocial {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      height: 1px;
      top: -35px;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,.4);
    }
    .wrapSocial {
      display: flex;
      justify-content: center;
      position: relative;
      .social {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 210px;
        display: flex;
        justify-content: space-between;
        .socialItem {
          transition: .3s;
          &:hover {
            .socials {
              .socialFill {
                fill: #0084b4;
              }
            }
          }
          .socials {
            width: 30px;
            height: 30px;
            .socialFill {
              fill: #4d4d4d;
            }
          }
        }
        .images {
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .footerTitle {
        font-family: OpenSansRegular;
        font-size: 16px;
        color: #fff;
      }
    }
  }
}
