.funfact{
  background-color: #f6f6f6;
  padding: 0 15px;
  margin-bottom: 155px;
  .wrapFunfact{
    width: 100%;
    max-width: 1366px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    .item{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin: 70px 0;
      width: 200px;
      text-align: center;
      .wrapImages{
        width: 100px;
        .images{

        }
      }

      .number{
        margin-top: 30px;
        font-family: AsapBold;
        font-size: 30px;
      }
      .title{
        margin-top: 15px;
        font-family: AsapRegular;
        font-size: 22px;
        text-transform: uppercase;

      }
    }
  }
}