.toTop {
  position: fixed;
  right: 30px;
  bottom: 195px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  outline: none;
  &:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 17px;
    width: 10px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: #212121;
  }
  &:after {
    content: "";
    position: absolute;
    top: 25px;
    right: 16px;
    width: 10px;
    height: 1px;
    transform: rotate(45deg);
    background-color: #212121;
  }
}
.header {
  position: fixed;/*фиксированное меню*/
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;/*отступы у главной секции по 15 пикселей со всех сторон*/
  background-color: transparent;/*делаем фон прозрачным на главной странице*/
  transition: .3s;/*переход в 0.3 секунды*/
  z-index: 9999;/*наивысший для меню*/
  &.sticky {
    background-color: #fff;/*спроить*/
  }
  .wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .wrapLogo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 1.3;
      .logo {
        width: 25px;
      }
      .titleMain{
        font-family: LatoLight;
        font-size: 14px;
      }
      .title{
        font-family: LatoRegular;
        font-size: 4px;
      }
    }
    .wrapLink {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      .linkBlock {
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        .link{
          display: block;
          padding: 15px 0;
          text-decoration: none;
          color: #1d1d1d;
          font-family: 'AsapRegular';
          font-size: 18px;
          text-transform: capitalize;
          transition: .4s;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #000;
            transition: .3s;
          }
          &:after {
            content: '';
            position: absolute;
            bottom: 5px;
            right: 0;
            width: 0;
            height: 1px;
            background-color: #000;
            transition: .3s;
          }
          &:hover:before {
            width: 50%;
            background-color: black;
          }
          &:hover:after {
            width: 50%;
            background-color: black;
          }
        }
      }
    }
  }
}
