.portfolio{
  background-color: #f6f6f6;
  padding: 125px 15px;
  .wrapPortfolio{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    .title{
      font-family: AsapBold;
      font-size: 46px;
      text-transform: uppercase;
      color: #787878;
      text-align: center;
      position: relative;
      z-index: 1;
      margin-bottom: 45px;
      &:before {
        position: absolute;
        content: '';
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 65px;
        height: 5px;
        background-color: #717171;
      }
    }
    .wrapRow {
      margin-bottom: 30px;
      .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        .item {
          width: 100%;
          max-width: 370px;
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            box-shadow: 0 0 40px rgba(0,0,0,.15);
          }
        }
      }
    }
    .wrapBtn {
      width: 100%;
      text-align: center;
      .btn{
        width: 250px;
        padding: 15px 0;
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        font-family: 'AsapBold';
        color: #717171;
        font-size: 16px;
        &:hover {
          background-color: white;
          box-shadow: 0 10px 30px rgba(0,0,0,.15);
        }
      }
    }
  }
}