.services{
  background-color: #f6f6f6;
  padding: 125px 15px;
  .wrapSection{
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    .wrapTitle {
      display: flex;
      justify-content: center;
      .title{
        display: inline-block;
        font-family: AsapBold;
        font-size: 46px;
        text-transform: uppercase;
        color: #787878;
        position: relative;
        z-index: 1;
        &:before {
          position: absolute;
          content: '';
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
          width: 65px;
          height: 5px;
          background-color: #717171;
        }
      }
    }
    .wrapContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
        .itemContainer{
          display: flex;
          flex-wrap: wrap;
          //margin-top: 70px;
          .item{
            width: 350px;/*поменять*/
            text-align: center;
            margin-top: 70px;
            .titleImages{
              margin-top: 15px;
              font-family: AsapRegular;
              color: #4d4d4d;
              font-size: 24px;
            }
          }
        }

    }
  }
}