.skills {
  padding: 125px 15px;
  .wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title{
        display: inline-block;
        font-family: AsapBold;
        font-size: 46px;
        text-transform: uppercase;
        color: #787878;
        position: relative;
        z-index: 1;
        margin-bottom: 50px;
        &:before {
          position: absolute;
          content: '';
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
          width: 65px;
          height: 5px;
          background-color: #717171;
        }
      }
      .wrapBar {
        width: 620px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

