.slick-prev {
     width: 30px;
     height: 30px;
     position: absolute;
     right: -75px;
     bottom: 62px;
     transform: translateY(-50%);
     background-color: transparent;
     color: transparent;
     outline: none;
     border: 0 solid transparent;
     &:before {
         content: '';
         position: absolute;
         top: 11px;
         left: 20px;
         width: 10px;
         height: 1px;
         background-color: white;
         transform: rotate(-45deg);
     }
     &:after {
         content: '';
         position: absolute;
          bottom: 11px;
         left: 20px;
         width: 10px;
         height: 1px;
         background-color: white;
         transform: rotate(45deg);
     }
 }
.slick-next {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -150px;
  bottom: 62px;
    transform: translateY(-50%);
    background-color: transparent;
    color: transparent;
    outline: none;
    border: 0 solid transparent;
    &:before {
        content: '';
        position: absolute;
        bottom: 11px;
        left: 20px;
        width: 10px;
        height: 1px;
        background-color: white;
        transform: rotate(-45deg);
    }
    &:after {
        content: '';
        position: absolute;
        top: 11px;
        left: 20px;
        width: 10px;
        height: 1px;
        background-color: white;
        transform: rotate(45deg);
    }
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    &:hover{
      background-color: black;
    }
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 13px;
      width: 13px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
        &:before {
          opacity: 1;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 13px;
        height: 13px;
        border: 1px solid #000;
        font-size: 30px;
        line-height: 20px;
        text-align: center;
        opacity: .5;
      }
    }
    &.slick-active button:before {
      color: red;
      opacity: 1;
    }
  }
}