.testimonial {
  padding: 130px 110px;
  //border: 2px solid pink;
  .wrapTestimonial {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    //border: 2px solid green;
    .title {
      font-family: AsapBold;
      font-size: 46px;
      text-transform: uppercase;
      color: #787878;
      text-align: center;
      position: relative;
      z-index: 1;
      margin-bottom: 45px;
      &:before {
        position: absolute;
        content: '';
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 65px;
        height: 5px;
        background-color: #717171;
      }
    }
    .slickContainer {
      border: 1px solid black;
      z-index: 9998;
      div {
        .reviews {
          display: flex;
          padding: 80px 60px 55px 120px;
          .img {
          }
          .textBlock {
            line-height: 1.5;
            margin-left: 30px;
            text-transform: uppercase;
              .name{
                font-family: AsapBold;
                font-size: 30px;
              }
              .position{
                font-family: Asap;
                font-size: 12px;
                margin-top: 10px;
              }
             .text{
               font-family: AsapRegular;
               color: #7a7a7a;
               font-size: 16px;
               margin-top: 20px;
             }
          }
        }
      }
    }
  }
}